name: ci

on:
  push:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: actions/checkout@v2
      - name: Login to PRIVATE Container Registry
        run: docker login -u ${{ secrets.JFROG_USER_WRITER }} -p ${{ secrets.JFROG_PASSWORD_WRITER }} hts2-docker-d1.jfrog.io
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
             app:latest
             app:1.0.0
      - name: Push image to GHCR
        run: |
          docker buildx imagetools create \
            --tag hts2-docker-d1.jfrog.io/app:latest \
            --tag hts2-docker-d2.jfrog.io/app:1.0.0 \
               app:latest
